@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ededed;

  --primary: #ff556e;
  --white: #ffffff;
  --black: #303030;
  --yellow: #a9a32a;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-yellow: var(--yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.container {
  width: 1507px;
  margin: auto;
}


html,
body {
    overflow-x: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
  transition: transform 1s ease-in-out;
  .indicator {
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff;
      animation: animate 1s linear infinite;
      &:nth-child(1) {
        top: -30px;
        left: -30px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        top: -15px;
        left: -15px;
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        top: 0;
        left: 0;
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        top: 15px;
        left: 15px;
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        top: 30px;
        left: 30px;
        animation-delay: 0.8s;
      }
    }
  }
}
@keyframes animate {
  0% {
    border-color: #fff;
    transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: #ffd64a;
  }
}


.animated-section {
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
  }